body{
  color: $black;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  font-style: normal;
  font-display: swap;
  font-family: 'Jost', sans-serif;
  background-color: #f2f2f2;
}
a,
button,
input {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
ul>li{
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  color: $black;
  font-weight: 700;
}
img {
  height: auto;
  max-width: 100%;
}
@keyframes upDown {
  // animation: upDown 1s infinite alternate;
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes rightLeft {
  // animation: rightLeft 1s infinite alternate;
  0% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-15px);
  }
}
/* css animations - end
================================================== */

/* transition - start ============================ */
a,
button {
  transition: $default_transition;
}

// ======= Bootstrap setting start =======

@media (min-width: 1500px){
  .container{
    max-width: 1510px;
  }
}
