// ================ Multi-step css =================
.wrapper{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.row{
  margin-top: 10rem;
}
// --------Thank-you-1--------
.check_mark_img{
  img{
    width: 20rem;
    height: auto;
  }
}
.sub_title{
  span{
    color: #090909;
    font-size: 1.25rem;
  }
}
.title{
  h3{
    color: #1b1b1b;
    font-size: 2.625rem;
  }
  h1{
    width: 50%;
    height: auto;
    top: 180px;
    left: 380px;
    font-size: 4.375rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
  }
}
